<div class="content">
  <div class="title">Active visits</div>
  <div class="table-container mat-elevation-z8">
      <table mat-table [dataSource]="activeVisits" matSort>
    
        <!-- name -->
        <ng-container matColumnDef="museumName">
          <th mat-header-cell *matHeaderCellDef> Museum name </th>
          <td mat-cell *matCellDef="let row"> {{row.museumName}} </td>
        </ng-container>
    
         <!-- date -->
         <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let row"> {{row.date}} </td>
          </ng-container>
      
          <!-- start -->
          <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef> Start </th>
            <td mat-cell *matCellDef="let row"> {{row.start}} </td>
          </ng-container>
  
           <!-- duration -->
           <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef> Duration </th>
            <td mat-cell *matCellDef="let row"> {{row.duration}} </td>
          </ng-container>
  
    
          <ng-container matColumnDef="action">
            <th mat-header-cell  *matHeaderCellDef > </th>
            <td mat-cell *matCellDef="let row" >
                 <button mat-raised-button color="primary" (click)="attend(row)" >Attend</button>
            </td>
          </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumnsActiveVisits"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsActiveVisits;"></tr>
  
      </table>
    </div>

    <div class="title">Upcoming visits</div>
    <div class="table-container mat-elevation-z8">
     
      <table mat-table [dataSource]="upcomingVisits" matSort>
        <!-- name -->
        <ng-container matColumnDef="museumName">
          <th mat-header-cell *matHeaderCellDef> Museum name </th>
          <td mat-cell *matCellDef="let row"> {{row.museumName}} </td>
        </ng-container>
    
         <!-- date -->
         <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let row"> {{row.date}} </td>
          </ng-container>
      
          <!-- start -->
          <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef> Start </th>
            <td mat-cell *matCellDef="let row"> {{row.start}} </td>
          </ng-container>
  
           <!-- duration -->
           <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef> Duration </th>
            <td mat-cell *matCellDef="let row"> {{row.duration}} </td>
          </ng-container>
  
    
          <ng-container matColumnDef="action">
            <th mat-header-cell  *matHeaderCellDef > </th>
            <td mat-cell *matCellDef="let row" >
                 <button mat-raised-button color="primary" (click)="buyTicket(row)" >Buy ticket</button>
            </td>
          </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumnsUpcomingVisits"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsUpcomingVisits;"></tr>
      </table>
    </div>
  </div>
