.visit-form{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file-input{
    margin: 5px;
}